.spacing {
  flex: 1 1 auto;
}

.profile_picture {
  max-width: 2rem;
  border-radius: 50%;
}

.profile_container {
  padding: 6px 0px 8px 0px;
  max-height: 46px;
  box-sizing: border-box;
}

mat-toolbar {
  padding-right: 30vw;
  padding-left: 30vw;
  height: 46px;
}

.profile_placeholder {
  width: 2rem;
  vertical-align: middle;
  text-align: center;
}

.home_link {
  font-size: 18;
  color: white;
  text-decoration: none;
}
