<header>
  <mat-toolbar color="primary">
    <a [routerLink]="['/']" mat-icon-button>
      <mat-icon class="brand__logo">home</mat-icon>
      <!-- <span>Home</span> -->
    </a>
    <span class="spacing"></span>
    <span>SNET</span>
    <span class="spacing"></span>
    <div
      *ngIf="auth.user | async as user; else icon"
      class="profile_container"
      [matMenuTriggerFor]="profileMenu"
    >
      <img
        class="profile_picture"
        src="{{
          user.photoURL ||
            'https://firebasestorage.googleapis.com/v0/b/snet2019.appspot.com/o/profile_pictures%2Fdefault.png?alt=media&token=56057ab4-47a9-4e98-95ff-f3a77064b368'
        }}"
      />

      <mat-menu #profileMenu="matMenu" xPosition="before">
        <button mat-menu-item disableRipple="true">{{ user.name }}</button>
        <button mat-menu-item (click)="auth.signOut()">Cerrar sesión</button>
      </mat-menu>
    </div>

    <ng-template #icon>
      <div class="profile_container">
        <mat-icon class="profile_placeholder" [routerLink]="['/login']">
          person
        </mat-icon>
      </div>
    </ng-template>
  </mat-toolbar>
</header>
