<div *ngIf="auth.user | async as user">
  <div class="profile-info">
    <img class="profilePic" src="{{ user.photoURL }}" />
    <div>
      <span class="mat-h1">{{ user.name }}</span>
      <p class="info-title">Email:</p>
      <p class="info-content">{{ user.email }}</p>

      <ng-template *ngIf="user.phoneNumber">
        <p class="info-title">Teléfono:</p>
        <p class="info-content">{{ user.phoneNumber }}</p>
      </ng-template>

      <button mat-flat-button color="primary">
        Seguir
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <mat-tab-group>
    <mat-tab label="Publicaciones">
      <app-post
        class="posts-container"
        *ngFor="let post of posts"
        [post]="post"
      ></app-post>
    </mat-tab>

    <mat-tab label="Seguidores"></mat-tab>

    <mat-tab label="Seguidos"></mat-tab>
  </mat-tab-group>
</div>
