<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Contactos</mat-toolbar>
    <app-connected-users
      *ngIf="auth.user | async as user"
      [uid]="user.uid"
    ></app-connected-users>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row *ngIf="!showSearch">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="auth.user | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="logo" [routerLink]="['/']">SNET</span>

        <span class="spacing"></span>

        <button
          mat-icon-button
          (click)="showSearch = !showSearch"
          *ngIf="auth.user | async"
        >
          <mat-icon>search</mat-icon>
        </button>

        <div
          *ngIf="auth.user | async as user; else icon"
          class="profile_container"
          [matMenuTriggerFor]="profileMenu"
        >
          <img class="profile_picture" src="{{ user.photoURL }}" />

          <mat-menu #profileMenu="matMenu" xPosition="before">
            <button
              mat-menu-item
              disableRipple="true"
              [routerLink]="['/profile', user.uid]"
            >
              {{ user.name }}
            </button>
            <button mat-menu-item (click)="auth.signOut()">
              Cerrar sesión
            </button>
          </mat-menu>
        </div>

        <ng-template #icon>
          <div class="profile_container">
            <mat-icon class="profile_placeholder" [routerLink]="['/login']">
              person
            </mat-icon>
          </div>
        </ng-template>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="showSearch">
        <form (ngSubmit)="submit()" class="full-width">
          <mat-form-field [style.fontSize]="'14px'" class="full-width">
            <input matInput [formControl]="searchInput" />
            <span matPrefix> </span>
          </mat-form-field>
        </form>

        <span class="spacing"></span>

        <button mat-icon-button (click)="showSearch = !showSearch">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
